@{
    ViewData["Title"] = "Access denied";
    bool isAdmin = true;

    if (!string.IsNullOrWhiteSpace(ViewBag.CurrentRol) && ViewBag.CurrentRol == Roles.Client.ToString())
    {
        isAdmin = false;
        Layout = "_LayoutClient";
    }
}

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold text-danger">403</h1>
        <p class="fs-3"> <span class="text-danger">¡Vaya!</span> Acceso denegado.</p>
        <p class="lead">
            Tu usuario no tiene permiso para acceder a esta sección.
        </p>
        <a asp-controller="@(isAdmin ? "Home" : "ClientHome")" asp-action="Index" class="btn btn-primary d-flex align-items-center justify-content-center mx-auto" style="width: 150px;">
            <i class="bi bi-house-door me-2"></i> Ir a Inicio
        </a>
    </div>
</div>
