@model UserViewModel
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = Model.IsActive ? "Inactivar Administrador" : "Activar Administrador";
}

<div class="max-w-lg mx-auto mt-10 p-6 bg-white rounded-md shadow-md">
    <h2 class="text-xl font-semibold text-gray-800 mb-4">
        ¿Está seguro que desea @(Model.IsActive ? "inactivar" : "activar") al usuario **@Model.UserName**?
    </h2>
    <hr class="my-4" />

    <div class="mt-6 flex justify-between">
        <a asp-action="Index" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline">
            Cancelar
        </a>
        <form asp-action="ToggleStatus" method="post">
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" class="bg-@(Model.IsActive ? "red" : "green")-500 hover:bg-@(Model.IsActive ? "red" : "green")-700 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline">
                Aceptar
            </button>
        </form>
    </div>
</div>